body{
	padding:0;
	margin:0;
}
.__container{
	margin:0 auto;
	max-width:320px;
}

#bottom-nav{
	position:fixed;
	bottom:0px;
	left:0px;
	height:64px;
	width:100%;
	display:flex;
	background-color:#fff;
	color:#636363;
	z-index:100;
}
#bottom-nav button{
	flex:1;
	background:transparent;
	border:none;
	display:flex;
	flex-direction:column;
	justify-content:center;
	font-size:0.8rem;
	gap:4px;
	font-weight:600;	
}
#bottom-nav button i{
	font-size:22px;
}
.button.active{
	color:#667eea;
}

.page{
	display:none;	
	flex-direction:column;
}
.page.active{
	display:flex;
}


#map{
	z-index:10;
	height:100dvh;
	width:100%;
}
.polygon-label{
	font-family:sans-serif;
}





/*****************************************************/
/*****************************************************/
/*****************************************************/
/*****************************************************/
/*****************************************************/
#home{
	flex-direction:column;
	padding-bottom:90px;
}
#add{
	overflow:hidden;
}







.addPost-form{
	display:flex;
	flex-direction:column;
}
.upload-container{
	background-color:green;
	height:100dvh;
	flex-direction:column;
	width:100%;
	position:relative;
}

.selectCoords-container{
	height:100dvh;	
	transition:transform 200ms;
	transform:translate(0,100%);
}
.selectCoords-container__active{
	flex-direction:column;
	position:absolute;
	top:0;
	left:0;
	height:100dvh;
	width:100%;
	background-color:#000123;
	transition:transform 300ms;
	transform:translate(0,0);
}
#closeCoordMap{
	position:absolute;
	z-index:1000;
	top:10px;
	right:10px;
}
.coordsMap-btn__active{	
	display:none;
}
#uploadMap{
	height:100%;
	width:100%;
}
.post-container{
	display:flex;
	flex-direction:column;
	font-size:10px;
}
.post-image{
	width:100%;
	height:auto;
}

.post-image-container{
	width:100%;
	height:auto;	
}
.coordsMap{
}


.search-container{
	width:100%;
	position:fixed;
	bottom:64px;
	z-index:1000;
	background-color:black;
}
.search-container input{
	width:100%;
	height:40px;
	border-radius:20px;
	padding:0 10px;

}
.uploadSearch-suggestions-container{
	display:flex;
	flex-direction:column;
	margin-bottom:10px;
}
.uploadSearch-suggestion{
	width:100%;
	height:30px;
	background-color:black;
	color:white;

}
.uploadSearch-suggestion:hover{
	background-color:white;
}
.uploadSearch-suggestion p{
	line-height:0;
}
@media (min-width:320px){
}
